<!DOCTYPE html>
<html lang="hr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obrtnička škola Koprivnica</title>
    <link rel="stylesheet" href="/styles.css" />
</head>

<body>
    <header> <!-- Semantički element: header - zaglavlje -->
        <img src="/logo.png" alt="Logo" />
        <h1>Obrtnička škola Koprivnica</h1>
    </header>
    <nav> <!-- Semantički element: nav - navigacija -->
        <a href="/">Naslovnica</a>
        <a href="/about">O nama</a>
        <a href="/contact">Kontakt</a>
        <a href="/contacts">Popis kontakata</a>
    </nav>
    <!-- Semantički element: main - glavni dio -->
    <main>{{{body}}}</main>
    <footer> <!-- Semantički element: footer - podnožje -->
        Sva prava pridržana Obrtnička škola Koprivnica 2025.
    </footer>
</body>

</html>