<h1>O nama</h1>

<article>
    <p>
        Obrtnička škola Koprivnica jedna je od najrazvijenijih i najpriznatijih
        škola u Koprivničko-križevačkoj županiji. Kroz redovnu nastavu, praktičnu
        obuku te različite programe prekvalifikacija i doškolovanja, u suradnji s
        Gradom Koprivnicom i Koprivničko-križevačkom županijom, Škola je iznjedrila
        mnoge priznate obrtnike ovog kraja.
    </p>

    <h2>Povijest škole</h2>
    <table>
        <thead>
            <tr>
                <th>Godina</th>
                <th>Događaj</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1886.</td>
                <td>Osnovana pod nazivom Šegrtska škola u sklopu tadašnjih školskih reformi.</td>
            </tr>
            <tr>
                <td>1969.</td>
                <td>
                    Mijenja naziv u Školu za kvalificirane radnike.<br />
                    Nekoliko godina kasnije postaje Škola za obrazovanje kadrova u privredi.
                </td>
            </tr>
            <tr>
                <td>1990.</td>
                <td>
                    Započinje reorganizacija Školskog centra, iz kojeg su se postupno osamostalile
                    tri škole: Gimnazija Fran Galović, Srednja škola, Obrtnička škola.
                </td>
            </tr>
            <tr>
                <td>2018.</td>
                <td>
                    Obrtnička škola Koprivnica imenovana je Centrom kompetentnosti iz sektora
                    elektrotehnike i računarstva.
                </td>
            </tr>
            <tr>
                <td>2024.</td>
                <td>Škola obilježava 15 godina provođenja Erasmus+ projekata.</td>
            </tr>
        </tbody>
    </table>

    <h2>Škola danas</h2>
    <p>
        Obrtničku školu Koprivnica danas pohađa 570 učenika raspoređenih u 30 razrednih odjeljenja,
        uključujući i odjele za djecu s poteškoćama u razvoju. U Školi je zaposleno 98 djelatnika.
    </p>
    <p>
        Kvaliteta i uspješnost obrazovanja prepoznata je i nagrađena - Obrtnička škola dvostruka je
        dobitnica prestižne nagrade “Šegrt Hlapić” za najbolju školu-izvođača programa za obrtnička
        zanimanja. Osim toga, Škola je treći put zaredom dobila akreditaciju za sudjelovanje i provođenje
        Erasmus+ projekata, čime se potvrđuje njezina posvećenost međunarodnoj suradnji i unapređenju
        obrazovanja.
    </p>
</article>