<h2>Zahvaljujemo na kontaktu</h2>

<p>Pozdrav, {{data.name}}!</p>
{{#if valid}}
<p>Podaci su ispravno uneseni.</p>
{{else}}
<p>Podaci nisu ispravno uneseni.</p>
{{/if}}

{{#if success}}
<p>Podaci su spremljeni.</p>
{{else}}
<p>Podaci nisu spremljeni.</p>
{{/if}}