<h1 class="welcomeMessage">Dobro došli na stranicu škole</h1>

<section>
    <h2>Zašto upisati našu školu?</h2>
    <p>
        Upis u Obrtničku školu Koprivnica može biti odličan izbor
        iz više razloga, posebno zato što nudi trogodišnja,
        četverogodišnja te pomoćna zanimanja koja pružaju širok
        spektar mogućnosti za učenike. Evo pet razloga zašto bi
        upis u ovu školu mogao biti odličan izbor:
    </p>
    <ol> <!-- ili u slučaju nepobrojane liste <ul> -->
        <li>Praktično obrazovanje i stjecanje vještina</li>
        <li>Velika potražnja za obrtničkim zanimanjima</li>
        <li>Mogućnost daljnjeg školovanja</li>
        <li>Povezanost s lokalnim poslodavcima i mogućnosti zapošljavanja</li>
        <li>Individualni pristup i podrška učenicima</li>
    </ol>
</section>

<section>
    <h2>Kako do nas?</h2>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2763.263018456337!2d16.820909176599287!3d46.165419771094136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476627037efef1d1%3A0x7e89fee56dbd104!2sTrade%20school%20Koprivnica!5e0!3m2!1sen!2shr!4v1761033879024!5m2!1sen!2shr"
        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>