/* globalne varijable */
:root {
    --color-brand: rgb(36, 143, 192);
}

/* vidljivi dio dokumenta */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}

/* element a - linkovi */
a {
    text-decoration: none;
    color: var(--color-brand);
    font-weight: 600;
}

a:hover {
    text-shadow: 1px 1px 10px rgb(90, 219, 255);
}

/* zaglavlje header */
header {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: auto;
    gap: 1em;
}

header>h1 {
    text-align: center;
    flex: 1;
    font-size: 2em;
}

header>img {
    width: 150px;
    flex: 0 0 auto;
}

/* navigacijska traka nav */
nav {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 5px;
    border-bottom: 4px solid var(--color-brand);
    width: fit-content;
    margin: auto;
    border-radius: 10px;
}

/* podnožje footer */
footer {
    text-align: center;
    color: grey;
    font-size: small;
}

/* glavni dio main */
main {
    width: 50vw;
    margin: auto;
}

@media (max-width: 56rem) {
    main {
        width: 90vw;
    }
}

/* ostali elementi */
h2 {
    color: var(--color-brand);
}

article {
    border: 1px solid var(--color-brand);
    padding: 0.5em;
    border-radius: 0.5em;
    box-shadow: 1px 1px 5px gray;
}

/* pomoćne klase */
.welcomeMessage {
    text-align: center;
    margin-top: 1em;
}